<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<title>Перевірка посвідчення водія</title>
		<script>
			// Очистка поля результата при загрузке страницы
			window.onload = function () {
				document.getElementById('result').innerHTML = ''
			}
		</script>
	</head>
	<body>
		<h1>Перевірка посвідчення водія</h1>
		<form action="{{ url_for('submit_form') }}" method="post">
			<label for="series">Серія:</label>
			<input type="text" id="series" name="series" required /><br /><br />

			<label for="number">Номер:</label>
			<input type="text" id="number" name="number" required /><br /><br />

			<label for="birthday">Дата народження:</label>
			<input
				type="text"
				id="birthday"
				name="birthday"
				placeholder="YYYY-MM-DD"
				required
			/><br /><br />

			<button type="submit">Перевірити</button>
		</form>

		{% if result %}
		<h2>Результат перевірки:</h2>
		<pre id="result">{{ result }}</pre>
		{% else %}
		<pre id="result"></pre>
		<!-- Поле для результата, которое будет очищаться при загрузке -->
		{% endif %}
	</body>
</html>
