<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<title>Перевірка посвідчення водія</title>
		<script>
			// Очистка результата только при первом открытии страницы
			window.onload = function () {
				// Проверка в sessionStorage, был ли это первый визит
				if (!sessionStorage.getItem('visited')) {
					// Очищаем результат и скрываем заголовок только при первом посещении
					document.getElementById('result').innerHTML = ''
					document.getElementById('result-header').style.display = 'none'
					// Устанавливаем флаг, что страница была посещена
					sessionStorage.setItem('visited', 'true')
				}
			}
		</script>
	</head>
	<body>
		<h1>Перевірка посвідчення водія</h1>
		<form action="{{ url_for('submit_form') }}" method="post">
			<label for="series">Серія:</label>
			<input type="text" id="series" name="series" required /><br /><br />

			<label for="number">Номер:</label>
			<input type="text" id="number" name="number" required /><br /><br />

			<label for="birthday">Дата народження:</label>
			<input
				type="text"
				id="birthday"
				name="birthday"
				placeholder="YYYY-MM-DD"
				required
			/><br /><br />

			<button type="submit">Перевірити</button>
		</form>

		{% if result %}
		<h2 id="result-header">Результат перевірки:</h2>
		<pre id="result">{{ result }}</pre>
		{% else %}
		<h2 id="result-header" style="display: none">Результат перевірки:</h2>
		<pre id="result"></pre>
		{% endif %}
	</body>
</html>
